@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f2f9;
    color: #606887;
    height: 1500px;
}

#about2 {
   

}